---
import AboutHeroImage from '../assets/about-me-header.png';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	year=""
	heroImage={AboutHeroImage}
	heroPortrait={true}
>
	<p>
		I am a game developer with hands-on experience in Unity and Godot, specializing in gameplay systems, tools development, and graphics programming.
		I am currently completing an MSc in Videogame Studies while teaching game development at university level and having shipped a commercial project.
	</p>
</Layout>
